---
import Layout from '../layouts/Layout.astro';
import Experience from "@/components/section/Experience.astro";
import Education from "@/components/section/Education.astro";
import Projects from "@/components/section/Projects.astro";
import Skills from "@/components//section/Skills.astro";
import Hero from "@/components//section/Hero.astro";
import Images from '@/components/section/images.astro';

import About from "@/components/section/About.astro";
---

<Layout title="Portafolio Tecnologico">
	<main>
		<Hero />
		<About />
		<Experience />
		<Images />
		<Education />
		<Projects />
		<Skills />
	</main>
</Layout>

<style>
	main {
		padding: 4rem;
		margin: auto;
		width: 100; 
	}
</style>
