---
const { title } = Astro.props;
---

<section>
  {title && <h2>{title}</h2>}
  <div class="container">
    <slot />
  </div>
</section>

<style>
  section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto 38px;
    padding-bottom: 20px; 
    /* border: 1px solid #050505;  */
  }

  .container {
    width: 70%;
  }

  h2 {
    
    margin-bottom: 8px;
    font-weight: 700;
    line-height: 1.5;
    font-size: 1.5rem;
  }
</style>
